@import '../../variables/variables';

@font-face {
  font-family: 'Comfortaa';
  src: url(../../assets/fonts/Comfortaa.ttf) format('truetype');
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa';
}

body {
  background-color: $backgroundColor;
}