@import '../../variables/variables';

@font-face {
  font-family: 'Comfortaa';
  src: url(../../assets/fonts/Comfortaa.ttf) format('truetype');
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa';
  color: $text-color;
}

body {
  background-color: $backgroundColor;
}

.header {
  height: 80px;
  padding: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-color-base;
}

.btnMain {
  text-decoration: none;
}

.btnSignIn {
  margin-right: 12px;
  color: $text-color;
}

.btnSignUp {
  color: $success-color;
  border-color: $success-color
}